.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
.App {
  background-image: url("https://res.cloudinary.com/djfbwkdh3/image/upload/v1723359821/pexels-burst-373883_nxxxjh.jpg");
  font-weight: bold;
  background-size: cover;
  min-height: 100vh;
  max-height: 100%;
}
button {
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="range"] {
  width: 300px;
}
button {
  background-color: beige;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border-width: 0;
}
